index.html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Boilerplate 2015</title>
    <meta content='' name='description'>
    <meta content='ie=edge' http-equiv='x-ua-compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='images/favicon/favicon.ico?v=1.0' rel='shortcut icon'>
    <link href='humans.txt' rel='author' type='text/plain'>
    <link href='images/favicon/favicon.ico?v=1.0' rel='icon' sizes='16x16 32x32 64x64'>
    <link href='images/favicon/favicon-192.png?v=1.0' rel='icon' sizes='196x196' type='image/png'>
    <link href='images/favicon/favicon-160.png?v=1.0' rel='icon' sizes='160x160' type='image/png'>
    <link href='images/favicon/favicon-96.png?v=1.0' rel='icon' sizes='96x96' type='image/png'>
    <link href='images/favicon/favicon-64.png?v=1.0' rel='icon' sizes='64x64' type='image/png'>
    <link href='images/favicon/favicon-32.png?v=1.0' rel='icon' sizes='32x32' type='image/png'>
    <link href='images/favicon/favicon-16.png?v=1.0' rel='icon' sizes='16x16' type='image/png'>
    <link href='images/favicon/favicon-152.png?v=1.0' rel='apple-touch-icon' sizes='152x152'>
    <link href='images/favicon/favicon-144.png?v=1.0' rel='apple-touch-icon' sizes='144x144'>
    <link href='images/favicon/favicon-120.png?v=1.0' rel='apple-touch-icon' sizes='120x120'>
    <link href='images/favicon/favicon-114.png?v=1.0' rel='apple-touch-icon' sizes='114x114'>
    <link href='images/favicon/favicon-76.png?v=1.0' rel='apple-touch-icon' sizes='76x76'>
    <link href='images/favicon/favicon-72.png?v=1.0' rel='apple-touch-icon' sizes='72x72'>
    <link href='images/favicon/favicon-57.png?v=1.0' rel='apple-touch-icon'>
    <meta content='#FFFFFF' name='msapplication-TileColor'>
    <meta content='images/favicon/favicon-144.png?v=1.0' name='msapplication-TileImage'>
    <meta content='images/favicon/browserconfig.xml' name='msapplication-config'>
    <meta content='#00b0a5' name='theme-color'>
    <link href='css/stylesheet.css' rel='stylesheet'>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class='navbar navbar-inverse navbar-fixed-top'>
      <div class='container'>
        <div class='navbar-header'>
          <button aria-controls='navbar' aria-expanded='false' class='navbar-toggle collapsed' data-target='#navbar' data-toggle='collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='#home'>Project name</a>
        </div>
        <div class='collapse navbar-collapse' id='navbar'>
          <ul class='nav navbar-nav'>
            <li class='active'>
              <a href='#home'>Home</a>
            </li>
            <li>
              <a href='#about'>About</a>
            </li>
            <li>
              <a href='#contact'>Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class='container'>
      <div class='starter-template'>
        <h1>Bootstrap starter template</h1>
        <p class='lead'>Use this document as a way to quickly start any new project. <br> All you get is the text and a mostly barebones HTML Document</p>
      </div>
    </div>
    <script src='javascripts/min/script.min.js'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-XXXXX-X', 'auto');ga('send', 'pageview');
    </script>
  </body>
</html>

haml/index.haml
!!!5
%html{:lang => "en"}
	%head
		%meta{:charset => "UTF-8"}/
		%title Boilerplate 2015 
		%meta{:name => "description", :content => ""}/
		%meta{:http => {:equiv => "x-ua-compatible"}, :content => "ie=edge"}/
		%meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1"}
		%link{:rel =>"shortcut icon",:href =>"images/favicon/favicon.ico?v=1.0"}
		%link{:rel => "author", :href => "humans.txt", :type => "text/plain"}/
		%link{:rel => "icon", :sizes =>"16x16 32x32 64x64",:href =>"images/favicon/favicon.ico?v=1.0"}
		%link{:rel => "icon", :type =>"image/png", :sizes =>"196x196",:href =>"images/favicon/favicon-192.png?v=1.0"}
		%link{:rel => "icon", :type =>"image/png", :sizes =>"160x160",:href =>"images/favicon/favicon-160.png?v=1.0"}
		%link{:rel => "icon", :type =>"image/png", :sizes =>"96x96",:href =>"images/favicon/favicon-96.png?v=1.0"}
		%link{:rel => "icon", :type =>"image/png", :sizes =>"64x64",:href =>"images/favicon/favicon-64.png?v=1.0"}
		%link{:rel => "icon", :type =>"image/png", :sizes =>"32x32",:href =>"images/favicon/favicon-32.png?v=1.0"}
		%link{:rel => "icon", :type =>"image/png", :sizes =>"16x16",:href =>"images/favicon/favicon-16.png?v=1.0"}
		%link{:rel => "apple-touch-icon", :sizes =>"152x152",:href =>"images/favicon/favicon-152.png?v=1.0"}
		%link{:rel => "apple-touch-icon", :sizes =>"144x144",:href =>"images/favicon/favicon-144.png?v=1.0"}
		%link{:rel => "apple-touch-icon", :sizes =>"120x120",:href =>"images/favicon/favicon-120.png?v=1.0"}
		%link{:rel => "apple-touch-icon", :sizes =>"114x114",:href =>"images/favicon/favicon-114.png?v=1.0"}
		%link{:rel => "apple-touch-icon", :sizes =>"76x76",:href =>"images/favicon/favicon-76.png?v=1.0"}
		%link{:rel => "apple-touch-icon", :sizes =>"72x72",:href =>"images/favicon/favicon-72.png?v=1.0"}
		%link{:rel => "apple-touch-icon", :href =>"images/favicon/favicon-57.png?v=1.0"}
		%meta{:name =>"msapplication-TileColor", :content =>"#FFFFFF"}
		%meta{:name =>"msapplication-TileImage", :content =>"images/favicon/favicon-144.png?v=1.0"}
		%meta{:name =>"msapplication-config", :content =>"images/favicon/browserconfig.xml"}
		%meta{:name => "theme-color", :content => "#00b0a5"}/
		%link{:rel => "stylesheet", :href => "css/stylesheet.css"}/
		<![endif]-->
	%body
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		%nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					%button.navbar-toggle.collapsed{:data =>{:toggle => "collapse", :target => "#navbar"}, :aria =>{:expanded => "false", :controls => "navbar"}}
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.navbar-brand{:href => "#home"} Project name
				#navbar.collapse.navbar-collapse
					%ul.nav.navbar-nav
						%li.active
							%a{:href => "#home"} Home
						%li
							%a{:href => "#about"} About
						%li
							%a{:href => "#contact"} Contact
		
		.container
			.starter-template
				%h1 Bootstrap starter template

				%p.lead Use this document as a way to quickly start any new project. <br> All you get is the text and a mostly barebones HTML Document

						
		%script{:src => "javascripts/min/script.min.js"}
		:javascript
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-XXXXX-X', 'auto');ga('send', 'pageview');
